
header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(187,186,216);
  background: linear-gradient(90deg, rgba(187,186,216,1) 0%, rgba(36,36,128,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
}


.main-heading{
  max-width: 800px;
  text-align: center;
  margin: auto;
}


.main-heading h1{
  font-size: 50px;
}
